parameters:
    level: max
    phpVersion: 80300
    paths:
       - src
       - tests
    ignoreErrors:
       -
          identifier: return.type
          paths:
             - src/Api/TechnicalIndicators/*

       -
          identifier: missingType.generics
          paths:
             - src/Api/TechnicalIndicators/*

       -
          identifier: staticMethod.alreadyNarrowedType
          paths:
              - tests/*


includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
