parameters:
    level: max
    phpVersion: 80300
    paths:
       - src
       - tests
    ignoreErrors:
       -
          identifier: staticMethod.alreadyNarrowedType
          paths:
              - tests/*


includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
